In [1]:
%load_ext autoreload
%autoreload 2

# Clean Python3 Dataset

In [2]:
from dataset.CodeNet import CodeNet
code_net = CodeNet(location=r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet")

In [3]:
submission_metadata = code_net.get_submission_metadata()
submission_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13916868 entries, 0 to 1088
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   submission_id      string
 1   problem_id         string
 2   user_id            string
 3   date               Int64
 4   language           string
 5   original_language  string
 6   filename_ext       string
 7   status             string
 8   cpu_time           Int64
 9   memory             Int64
 10  code_size          Int64
 11  accuracy           string
dtypes: Int64(4), string(8)
memory usage: 1.4 GB

In [4]:
accepted_python_submissions = submission_metadata.query("language == 'Python' and status == 'Accepted'")
accepted_python_submissions.groupby(["original_language"]).size().reset_index(name="count").sort_values("count", ascending=False)

   original_language   count
8     Python (3.4.3)  993168
9     Python (3.8.2)  367766
2      PyPy3 (2.4.0)  166907
3      PyPy3 (7.3.0)  115482
10           Python3  115153
4             Python   18264
6     Python (2.7.6)   15735
0      PyPy2 (5.6.0)    2767
1      PyPy2 (7.3.0)    1232
5     Python (2.7.3)      65
7     Python (3.4.2)      24

In [5]:
accepted_python3_submissions = accepted_python_submissions.query("original_language in ['Python (3.4.3)', 'Python (3.8.2)', 'Python (3.4.2)']")
accepted_python3_submissions

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
0,s744927939,p02534,u963963908,1601508012,Python,Python (3.8.2),py,Accepted,20,9156,194,<NA>
3,s315346059,p02534,u572032237,1601504234,Python,Python (3.8.2),py,Accepted,20,9096,33,<NA>
5,s105595612,p02534,u479230440,1601501816,Python,Python (3.8.2),py,Accepted,23,9064,34,<NA>
22,s021977526,p02534,u280966279,1601496208,Python,Python (3.8.2),py,Accepted,26,8884,66,<NA>
26,s739220920,p02534,u903629757,1601495724,Python,Python (3.8.2),py,Accepted,24,9072,31,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
737,s283438001,p04051,u102461423,1574129650,Python,Python (3.4.3),py,Accepted,761,40384,794,<NA>
738,s051907309,p04051,u102461423,1574129202,Python,Python (3.4.3),py,Accepted,778,40384,806,<NA>
740,s218722401,p04051,u102461423,1574125877,Python,Python (3.4.3),py,Accepted,753,40124,1223,<NA>
742,s522586576,p04051,u102461423,1574125583,Python,Python (3.4.3),py,Accepted,762,40384,1223,<NA>
716,s332524056,p04052,u084798168,1532730793,Python,Python (3.4.3),py,Accepted,4339,61572,1532,<NA>

## Filter Outliers

In [7]:
import re
outlier_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\Python\Python_accepted_outliers.txt"
outlier_submission_ids = []
with open(outlier_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        submission_id = re.findall(r"s\d{9}", line)[0]
        outlier_submission_ids.append(submission_id)

In [8]:
len(outlier_submission_ids)

14295

In [9]:
python3_outlier_filtered = accepted_python3_submissions.query(f"submission_id not in {outlier_submission_ids}")
python3_outlier_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
0,s744927939,p02534,u963963908,1601508012,Python,Python (3.8.2),py,Accepted,20,9156,194,<NA>
3,s315346059,p02534,u572032237,1601504234,Python,Python (3.8.2),py,Accepted,20,9096,33,<NA>
5,s105595612,p02534,u479230440,1601501816,Python,Python (3.8.2),py,Accepted,23,9064,34,<NA>
22,s021977526,p02534,u280966279,1601496208,Python,Python (3.8.2),py,Accepted,26,8884,66,<NA>
26,s739220920,p02534,u903629757,1601495724,Python,Python (3.8.2),py,Accepted,24,9072,31,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
737,s283438001,p04051,u102461423,1574129650,Python,Python (3.4.3),py,Accepted,761,40384,794,<NA>
738,s051907309,p04051,u102461423,1574129202,Python,Python (3.4.3),py,Accepted,778,40384,806,<NA>
740,s218722401,p04051,u102461423,1574125877,Python,Python (3.4.3),py,Accepted,753,40124,1223,<NA>
742,s522586576,p04051,u102461423,1574125583,Python,Python (3.4.3),py,Accepted,762,40384,1223,<NA>
716,s332524056,p04052,u084798168,1532730793,Python,Python (3.4.3),py,Accepted,4339,61572,1532,<NA>

## Filter Duplicate Submissions

In [10]:
import os
dupl_clusters_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\Python\clusters"
cluster_files = os.listdir(dupl_clusters_path)
cluster_dict = {}
cluster_no = 0
cluster_dict[cluster_no] = []
for cluster_file in cluster_files:
    cluster_file_path = f"{dupl_clusters_path}\\{cluster_file}"
    with open(cluster_file_path, 'r', encoding='utf-8') as file:
        while (line := file.readline()):
            line = line.rstrip()
            if (line == ''):
                cluster_no += 1
                cluster_dict[cluster_no] = []
            else:
                submission_id = re.findall(r"s\d{9}", line)[0]
                cluster_dict[cluster_no].append(submission_id)

In [11]:
cluster_dict_filtered = {key:val for key, val in cluster_dict.items() if len(val) > 1}

In [12]:
cluster_dict_removed_submissions = {}
cpp14_outlier_filtered_sub_ids = set(python3_outlier_filtered['submission_id'].values)
for key, value in cluster_dict_filtered.items():
    cluster_dict_removed_submissions[key] = []
    for v in value:
        if v in cpp14_outlier_filtered_sub_ids:
            cluster_dict_removed_submissions[key].append(v)

In [13]:
cluster_dict_filtered_1 = {key:val for key, val in cluster_dict_removed_submissions.items() if len(val) > 1}

In [14]:
import random
duplicate_submission_ids = []
for key, value in cluster_dict_filtered_1.items():
    tmp = value.copy()
    tmp.remove(random.choice(tmp))
    duplicate_submission_ids.extend(tmp)

In [15]:
len(duplicate_submission_ids)

513555

In [16]:
python3_dupl_filtered = python3_outlier_filtered.query(f"submission_id not in {duplicate_submission_ids}")
python3_dupl_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
42,s023921588,p02534,u976887940,1601492327,Python,Python (3.8.2),py,Accepted,22,9096,109,<NA>
54,s573009688,p02534,u657719194,1601489251,Python,Python (3.8.2),py,Accepted,25,9096,69,<NA>
55,s057560584,p02534,u193880030,1601489163,Python,Python (3.8.2),py,Accepted,21,9084,56,<NA>
60,s284010285,p02534,u086217034,1601486312,Python,Python (3.8.2),py,Accepted,26,9104,82,<NA>
76,s312109393,p02534,u614100538,1601475753,Python,Python (3.8.2),py,Accepted,24,9068,66,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
441,s776194541,p04051,u984276646,1582255917,Python,Python (3.4.3),py,Accepted,1458,71596,956,<NA>
737,s283438001,p04051,u102461423,1574129650,Python,Python (3.4.3),py,Accepted,761,40384,794,<NA>
738,s051907309,p04051,u102461423,1574129202,Python,Python (3.4.3),py,Accepted,778,40384,806,<NA>
740,s218722401,p04051,u102461423,1574125877,Python,Python (3.4.3),py,Accepted,753,40124,1223,<NA>
716,s332524056,p04052,u084798168,1532730793,Python,Python (3.4.3),py,Accepted,4339,61572,1532,<NA>

## Filter identical problems

In [17]:
python3_dupl_filtered_problem_count = python3_dupl_filtered.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False)
python3_dupl_filtered_problem_count

     problem_id  count
133      p02677   3673
144      p02688   3315
116      p02658   3305
514      p03086   3131
104      p02641   3108
...         ...    ...
1092     p03753      1
1202     p03886      1
1199     p03883      1
1194     p03870      1
1330     p04052      1

[1331 rows x 2 columns]

In [18]:
ident_problems_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\identical_problem_clusters"
duplicate_problem_ids = []
with open(ident_problems_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        cluster = line.split(',')
        cluster_rows = python3_dupl_filtered_problem_count.query(f"problem_id in {cluster}")
        if not cluster_rows.empty:
            largest_cluster_idx = cluster_rows['count'].idxmax()
            largest_cluster_problem_id = cluster_rows.loc[largest_cluster_idx]['problem_id']
            cluster.remove(largest_cluster_problem_id)
            duplicate_problem_ids.extend(cluster)

In [19]:
len(duplicate_problem_ids)

133

In [20]:
python3_final = python3_dupl_filtered.query(f"problem_id not in {duplicate_problem_ids}")
python3_final

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
42,s023921588,p02534,u976887940,1601492327,Python,Python (3.8.2),py,Accepted,22,9096,109,<NA>
54,s573009688,p02534,u657719194,1601489251,Python,Python (3.8.2),py,Accepted,25,9096,69,<NA>
55,s057560584,p02534,u193880030,1601489163,Python,Python (3.8.2),py,Accepted,21,9084,56,<NA>
60,s284010285,p02534,u086217034,1601486312,Python,Python (3.8.2),py,Accepted,26,9104,82,<NA>
76,s312109393,p02534,u614100538,1601475753,Python,Python (3.8.2),py,Accepted,24,9068,66,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
441,s776194541,p04051,u984276646,1582255917,Python,Python (3.4.3),py,Accepted,1458,71596,956,<NA>
737,s283438001,p04051,u102461423,1574129650,Python,Python (3.4.3),py,Accepted,761,40384,794,<NA>
738,s051907309,p04051,u102461423,1574129202,Python,Python (3.4.3),py,Accepted,778,40384,806,<NA>
740,s218722401,p04051,u102461423,1574125877,Python,Python (3.4.3),py,Accepted,753,40124,1223,<NA>
716,s332524056,p04052,u084798168,1532730793,Python,Python (3.4.3),py,Accepted,4339,61572,1532,<NA>

In [24]:
python3_final_problem_count = python3_final.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False).query(f"count >= {300}")
python3_final_problem_count

    problem_id  count
133     p02677   3673
144     p02688   3315
116     p02658   3305
511     p03086   3131
104     p02641   3108
..         ...    ...
211     p02757    309
14      p02550    305
171     p02715    304
80      p02616    304
724     p03346    304

[669 rows x 2 columns]

In [23]:
python3_final.to_csv(r"C:\Users\sebas\Documents\Masterarbeit\datasets\1_clean_datasets\python3.csv")