In [1]:
%load_ext autoreload
%autoreload 2

# Project CodeNet Benchmarks
We analyze the three benchmarks: Project_CodeNet_C++1000, Project_CodeNet_Java250, Project_CodeNet_Python800

- How many overlapping problems?
  - 240
- Do they all have 'Accepted status'?
  - yes
- What language version?
  - very different
- According to readme, SPTs can be successfully constructed

In [9]:
import os
cpp_dataset_path = "C:\\Users\\sebas\\Documents\\Masterarbeit\\Project_CodeNet\\derived\\benchmarks\\Project_CodeNet_C++1000\\Project_CodeNet_C++1000"
cpp_problem_ids = os.listdir(cpp_dataset_path)

java_dataset_path = "C:\\Users\\sebas\\Documents\\Masterarbeit\\Project_CodeNet\\derived\\benchmarks\\Project_CodeNet_Java250"
java_problem_ids = os.listdir(java_dataset_path)

py_dataset_path = "C:\\Users\\sebas\\Documents\\Masterarbeit\\Project_CodeNet\\derived\\benchmarks\\Project_CodeNet_Python800"
py_problem_ids = os.listdir(py_dataset_path)

In [11]:
intersecting_problems = set(cpp_problem_ids) & set(java_problem_ids) & set(py_problem_ids)

In [12]:
len(intersecting_problems)

240

In [13]:
from dataset.CodeNet import CodeNet
code_net = CodeNet(location=r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet")

In [14]:
submission_metadata = code_net.get_submission_metadata()
submission_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13916868 entries, 0 to 1088
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   submission_id      string
 1   problem_id         string
 2   user_id            string
 3   date               Int64
 4   language           string
 5   original_language  string
 6   filename_ext       string
 7   status             string
 8   cpu_time           Int64
 9   memory             Int64
 10  code_size          Int64
 11  accuracy           string
dtypes: Int64(4), string(8)
memory usage: 1.4 GB

In [15]:
submission_ids = []
dataset_directories = [cpp_dataset_path, java_dataset_path, py_dataset_path]
for dataset_dir in dataset_directories:
    for p_id in intersecting_problems:
        submissions = os.listdir(dataset_dir + "\\" + p_id)
        for s in submissions:
            submission_ids.append(s[:10])

In [17]:
len(submission_ids)

264000

In [19]:
dataset_submission_metadata = submission_metadata.query(f'submission_id in {submission_ids}')

In [20]:
dataset_submission_metadata.groupby(["original_language"]).size().reset_index(name="count").sort_values("count", ascending=False)

        original_language  count
4         C++ (GCC 9.2.1)  79093
21         Python (3.8.2)  41765
13  Java8 (OpenJDK 1.8.0)  38356
0                     C++  19644
11  Java (OpenJDK 11.0.6)  15481
9                    JAVA  14100
8       C++14 (GCC 5.4.1)  13828
22                Python3  10473
17          PyPy3 (7.3.0)   8903
20         Python (3.4.3)   6205
18                 Python   3627
1      C++ (Clang 10.0.0)   3142
10   Java (OpenJDK 1.8.0)   2672
5                   C++11   2156
6                   C++14   1700
12  Java7 (OpenJDK 1.7.0)   1391
16          PyPy3 (2.4.0)    898
7     C++14 (Clang 3.8.0)    293
3         C++ (GCC 5.4.1)    139
15          PyPy2 (7.3.0)     87
14          PyPy2 (5.6.0)     40
2       C++ (Clang 3.8.0)      5
19         Python (2.7.6)      2

In [21]:
dataset_submission_metadata.groupby(["status"]).size().reset_index(name="count").sort_values("count", ascending=False)

     status   count
0  Accepted  264000

In [22]:
dataset_submission_metadata.groupby(["language"]).size().reset_index(name="count").sort_values("count", ascending=False)

  language   count
0      C++  120000
1     Java   72000
2   Python   72000

# Clean CPP14 Dataset

In [2]:
from dataset.CodeNet import CodeNet
code_net = CodeNet(location=r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet")

In [3]:
submission_metadata = code_net.get_submission_metadata()
submission_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13916868 entries, 0 to 1088
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   submission_id      string
 1   problem_id         string
 2   user_id            string
 3   date               Int64
 4   language           string
 5   original_language  string
 6   filename_ext       string
 7   status             string
 8   cpu_time           Int64
 9   memory             Int64
 10  code_size          Int64
 11  accuracy           string
dtypes: Int64(4), string(8)
memory usage: 1.4 GB

In [4]:
accepted_cpp_submissions = submission_metadata.query("language == 'C++' and status == 'Accepted'")
accepted_cpp_submissions.groupby(["original_language"]).size().reset_index(name="count").sort_values("count", ascending=False)

                          original_language    count
12                        C++14 (GCC 5.4.1)  2716247
7                           C++ (GCC 9.2.1)   953252
0                                       C++   351070
10                                    C++14   125336
8                                     C++11    60431
11                      C++14 (Clang 3.8.0)    56032
5                           C++ (GCC 5.4.1)    47007
2                        C++ (Clang 10.0.0)    32670
6      C++ (GCC 9.2.1 with AC Library v1.1)     7154
3                         C++ (Clang 3.8.0)     2035
9                         C++11 (GCC 4.8.1)     1540
1   C++ (Clang 10.0.0 with AC Library v1.1)      230
4                           C++ (G++ 4.6.4)       45

In [5]:
accepted_cpp14_submissions = accepted_cpp_submissions.query("original_language in ['C++14 (GCC 5.4.1)', 'C++14', 'C++14 (Clang 3.8.0)']")
accepted_cpp14_submissions

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
8431,s244613793,p00000,u851121794,1532095342,C++,C++14,cpp,Accepted,0,3068,219,1/1
8432,s994763792,p00000,u011621222,1535256589,C++,C++14,cpp,Accepted,0,3052,164,1/1
8447,s115719540,p00000,u835578475,1545288670,C++,C++14,cpp,Accepted,0,3108,1190,1/1
8449,s774811895,p00000,u199259534,1545369483,C++,C++14,cpp,Accepted,0,3076,876,1/1
8451,s012885860,p00000,u011621222,1545445095,C++,C++14,cpp,Accepted,0,3200,221,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...
1049,s566240600,p04052,u452725238,1468769420,C++,C++14 (GCC 5.4.1),cpp,Accepted,3986,41088,1596,<NA>
1061,s486243623,p04052,u291111534,1468730935,C++,C++14 (GCC 5.4.1),cpp,Accepted,2862,169324,2692,<NA>
1063,s586590522,p04052,u965174248,1468730601,C++,C++14 (Clang 3.8.0),cpp,Accepted,2434,87672,3125,<NA>
1068,s463537063,p04052,u967083551,1468727579,C++,C++14 (GCC 5.4.1),cpp,Accepted,459,27648,1471,<NA>
1088,s934279825,p04052,u457283867,1468576936,C++,C++14 (GCC 5.4.1),cpp,Accepted,1858,17392,3430,<NA>

## Filter non parsable by Eclipse CDT
SuccessCount:     2874387
FailedCount:      23172
otherErrorCount:  56

In [6]:
import re
non_parsable_cpp_submission_ids = []
path = r"C:\Users\sebas\Documents\Masterarbeit\datasets\cpp_parse_error_files.txt"
with open(path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        submission_id = re.findall(r"s\d{9}", line)[0]
        non_parsable_cpp_submission_ids.append(submission_id)

In [8]:
len(non_parsable_cpp_submission_ids)

23228

In [10]:
cpp14_submissions_filtered_np = accepted_cpp14_submissions.query(f"submission_id not in {non_parsable_cpp_submission_ids}")
cpp14_submissions_filtered_np

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
8431,s244613793,p00000,u851121794,1532095342,C++,C++14,cpp,Accepted,0,3068,219,1/1
8432,s994763792,p00000,u011621222,1535256589,C++,C++14,cpp,Accepted,0,3052,164,1/1
8447,s115719540,p00000,u835578475,1545288670,C++,C++14,cpp,Accepted,0,3108,1190,1/1
8449,s774811895,p00000,u199259534,1545369483,C++,C++14,cpp,Accepted,0,3076,876,1/1
8451,s012885860,p00000,u011621222,1545445095,C++,C++14,cpp,Accepted,0,3200,221,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...
1049,s566240600,p04052,u452725238,1468769420,C++,C++14 (GCC 5.4.1),cpp,Accepted,3986,41088,1596,<NA>
1061,s486243623,p04052,u291111534,1468730935,C++,C++14 (GCC 5.4.1),cpp,Accepted,2862,169324,2692,<NA>
1063,s586590522,p04052,u965174248,1468730601,C++,C++14 (Clang 3.8.0),cpp,Accepted,2434,87672,3125,<NA>
1068,s463537063,p04052,u967083551,1468727579,C++,C++14 (GCC 5.4.1),cpp,Accepted,459,27648,1471,<NA>
1088,s934279825,p04052,u457283867,1468576936,C++,C++14 (GCC 5.4.1),cpp,Accepted,1858,17392,3430,<NA>

## Filter outliers

In [11]:
import re
outlier_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\C++\C++_accepted_outliers.txt"
outlier_submission_ids = []
with open(outlier_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        submission_id = re.findall(r"s\d{9}", line)[0]
        outlier_submission_ids.append(submission_id)

In [13]:
len(outlier_submission_ids)

106287

In [14]:
cpp14_outlier_filtered = cpp14_submissions_filtered_np.query(f"submission_id not in {outlier_submission_ids}")
cpp14_outlier_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
8431,s244613793,p00000,u851121794,1532095342,C++,C++14,cpp,Accepted,0,3068,219,1/1
8432,s994763792,p00000,u011621222,1535256589,C++,C++14,cpp,Accepted,0,3052,164,1/1
8447,s115719540,p00000,u835578475,1545288670,C++,C++14,cpp,Accepted,0,3108,1190,1/1
8449,s774811895,p00000,u199259534,1545369483,C++,C++14,cpp,Accepted,0,3076,876,1/1
8451,s012885860,p00000,u011621222,1545445095,C++,C++14,cpp,Accepted,0,3200,221,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...
1049,s566240600,p04052,u452725238,1468769420,C++,C++14 (GCC 5.4.1),cpp,Accepted,3986,41088,1596,<NA>
1061,s486243623,p04052,u291111534,1468730935,C++,C++14 (GCC 5.4.1),cpp,Accepted,2862,169324,2692,<NA>
1063,s586590522,p04052,u965174248,1468730601,C++,C++14 (Clang 3.8.0),cpp,Accepted,2434,87672,3125,<NA>
1068,s463537063,p04052,u967083551,1468727579,C++,C++14 (GCC 5.4.1),cpp,Accepted,459,27648,1471,<NA>
1088,s934279825,p04052,u457283867,1468576936,C++,C++14 (GCC 5.4.1),cpp,Accepted,1858,17392,3430,<NA>

## Filter duplicate submissions

In [27]:
dupl_clusters_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\C++\clusters"
cluster_files = os.listdir(dupl_clusters_path)
cluster_dict = {}
cluster_no = 0
cluster_dict[cluster_no] = []
for cluster_file in cluster_files:
    cluster_file_path = f"{dupl_clusters_path}\\{cluster_file}"
    with open(cluster_file_path, 'r', encoding='utf-8') as file:
        while (line := file.readline()):
            line = line.rstrip()
            if (line == ''):
                cluster_no += 1
                cluster_dict[cluster_no] = []
            else:
                submission_id = re.findall(r"s\d{9}", line)[0]
                cluster_dict[cluster_no].append(submission_id)

In [29]:
cluster_dict_filtered = {key:val for key, val in cluster_dict.items() if len(val) > 1}

In [44]:
cluster_dict_removed_submissions = {}
cpp14_outlier_filtered_sub_ids = set(cpp14_outlier_filtered['submission_id'].values)
for key, value in cluster_dict_filtered.items():
    cluster_dict_removed_submissions[key] = []
    for v in value:
        if v in cpp14_outlier_filtered_sub_ids:
            cluster_dict_removed_submissions[key].append(v)

In [49]:
cluster_dict_filtered_1 = {key:val for key, val in cluster_dict_removed_submissions.items() if len(val) > 1}

In [73]:
import random
duplicate_submission_ids = []
for key, value in cluster_dict_filtered_1.items():
    tmp = value.copy()
    tmp.remove(random.choice(tmp))
    duplicate_submission_ids.extend(tmp)

In [76]:
len(duplicate_submission_ids)

529917

In [78]:
cpp14_dupl_filtered = cpp14_outlier_filtered.query(f"submission_id not in {duplicate_submission_ids}")
cpp14_dupl_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
8431,s244613793,p00000,u851121794,1532095342,C++,C++14,cpp,Accepted,0,3068,219,1/1
8432,s994763792,p00000,u011621222,1535256589,C++,C++14,cpp,Accepted,0,3052,164,1/1
8447,s115719540,p00000,u835578475,1545288670,C++,C++14,cpp,Accepted,0,3108,1190,1/1
8449,s774811895,p00000,u199259534,1545369483,C++,C++14,cpp,Accepted,0,3076,876,1/1
8453,s292639760,p00000,u640847666,1545596458,C++,C++14,cpp,Accepted,0,3156,643,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,s291273899,p04052,u801556382,1468776808,C++,C++14 (GCC 5.4.1),cpp,Accepted,591,54400,1982,<NA>
1049,s566240600,p04052,u452725238,1468769420,C++,C++14 (GCC 5.4.1),cpp,Accepted,3986,41088,1596,<NA>
1061,s486243623,p04052,u291111534,1468730935,C++,C++14 (GCC 5.4.1),cpp,Accepted,2862,169324,2692,<NA>
1068,s463537063,p04052,u967083551,1468727579,C++,C++14 (GCC 5.4.1),cpp,Accepted,459,27648,1471,<NA>
1088,s934279825,p04052,u457283867,1468576936,C++,C++14 (GCC 5.4.1),cpp,Accepted,1858,17392,3430,<NA>

## Filter identical problems

In [115]:
cpp14_dupl_filtered_problem_count = cpp14_dupl_filtered.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False)
cpp14_dupl_filtered_problem_count

     problem_id  count
2753     p03160  11846
2754     p03161  11527
2755     p03162  10816
2756     p03163  10777
2758     p03165   6938
...         ...    ...
901      p00944      1
1139     p01245      1
687      p00699      1
686      p00698      1
2243     p02483      1

[3644 rows x 2 columns]

In [116]:
ident_problems_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\identical_problem_clusters"
duplicate_problem_ids = []
with open(ident_problems_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        cluster = line.split(',')
        cluster_rows = cpp14_dupl_filtered_problem_count.query(f"problem_id in {cluster}")
        largest_cluster_idx = cluster_rows['count'].idxmax()
        largest_cluster_problem_id = cluster_rows.loc[largest_cluster_idx]['problem_id']
        cluster.remove(largest_cluster_problem_id)
        duplicate_problem_ids.extend(cluster)

In [117]:
len(duplicate_problem_ids)

155

In [118]:
cpp14_final = cpp14_dupl_filtered.query(f"problem_id not in {duplicate_problem_ids}")
cpp14_final

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
8431,s244613793,p00000,u851121794,1532095342,C++,C++14,cpp,Accepted,0,3068,219,1/1
8432,s994763792,p00000,u011621222,1535256589,C++,C++14,cpp,Accepted,0,3052,164,1/1
8447,s115719540,p00000,u835578475,1545288670,C++,C++14,cpp,Accepted,0,3108,1190,1/1
8449,s774811895,p00000,u199259534,1545369483,C++,C++14,cpp,Accepted,0,3076,876,1/1
8453,s292639760,p00000,u640847666,1545596458,C++,C++14,cpp,Accepted,0,3156,643,1/1
...,...,...,...,...,...,...,...,...,...,...,...,...
1047,s291273899,p04052,u801556382,1468776808,C++,C++14 (GCC 5.4.1),cpp,Accepted,591,54400,1982,<NA>
1049,s566240600,p04052,u452725238,1468769420,C++,C++14 (GCC 5.4.1),cpp,Accepted,3986,41088,1596,<NA>
1061,s486243623,p04052,u291111534,1468730935,C++,C++14 (GCC 5.4.1),cpp,Accepted,2862,169324,2692,<NA>
1068,s463537063,p04052,u967083551,1468727579,C++,C++14 (GCC 5.4.1),cpp,Accepted,459,27648,1471,<NA>
1088,s934279825,p04052,u457283867,1468576936,C++,C++14 (GCC 5.4.1),cpp,Accepted,1858,17392,3430,<NA>

In [126]:
cpp14_final_problem_count = cpp14_final.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False)
cpp14_final_problem_count

     problem_id  count
2737     p03160  11846
2738     p03161  11527
2739     p03162  10816
2740     p03163  10777
2741     p03165   6938
...         ...    ...
2025     p02263    521
3189     p03690    520
3327     p03850    508
3277     p03792    508
2168     p02412    507

[874 rows x 2 columns]

In [124]:
cpp14_final.to_csv(r"C:\Users\sebas\Documents\Masterarbeit\datasets\1_clean_datasets\cpp14.csv")