In [1]:
%load_ext autoreload
%autoreload 2

# Clean Java8 Dataset

In [2]:
from dataset.CodeNet import CodeNet
code_net = CodeNet(location=r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet")

In [3]:
submission_metadata = code_net.get_submission_metadata()
submission_metadata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13916868 entries, 0 to 1088
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   submission_id      string
 1   problem_id         string
 2   user_id            string
 3   date               Int64
 4   language           string
 5   original_language  string
 6   filename_ext       string
 7   status             string
 8   cpu_time           Int64
 9   memory             Int64
 10  code_size          Int64
 11  accuracy           string
dtypes: Int64(4), string(8)
memory usage: 1.4 GB

In [4]:
accepted_java_submissions = submission_metadata.query("language == 'Java' and status == 'Accepted'")
accepted_java_submissions.groupby(["original_language"]).size().reset_index(name="count").sort_values("count", ascending=False)

       original_language   count
4  Java8 (OpenJDK 1.8.0)  194479
0                   JAVA   89508
2  Java (OpenJDK 11.0.6)   55169
1   Java (OpenJDK 1.8.0)    9632
3  Java7 (OpenJDK 1.7.0)    6194

In [5]:
accepted_java8_submissions = accepted_java_submissions.query("original_language in ['Java8 (OpenJDK 1.8.0)', 'Java (OpenJDK 1.8.0)']")
accepted_java8_submissions

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
73,s313061017,p02534,u877463638,1601476824,Java,Java (OpenJDK 1.8.0),java,Accepted,99,26976,321,<NA>
158,s688481096,p02534,u360448976,1601432439,Java,Java (OpenJDK 1.8.0),java,Accepted,73,25272,1133,<NA>
199,s691174419,p02534,u006449883,1601422185,Java,Java (OpenJDK 1.8.0),java,Accepted,103,26984,243,<NA>
202,s097798926,p02534,u045535520,1601419234,Java,Java (OpenJDK 1.8.0),java,Accepted,147,26872,221,<NA>
262,s581534922,p02534,u358794223,1601395231,Java,Java (OpenJDK 1.8.0),java,Accepted,90,26632,253,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
2891,s654050958,p04051,u180407835,1468730469,Java,Java8 (OpenJDK 1.8.0),java,Accepted,752,85016,5505,<NA>
2933,s214463615,p04051,u119714109,1468724953,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1098,163756,4964,<NA>
989,s508270000,p04052,u313111801,1483425521,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4394,173360,2032,<NA>
990,s653967260,p04052,u313111801,1483425132,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4492,180560,1910,<NA>
1056,s670377825,p04052,u119714109,1468737546,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1569,42200,8652,<NA>

## Filter Outliers

In [6]:
import re
outlier_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\Java\Java_accepted_outliers.txt"
outlier_submission_ids = []
with open(outlier_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        submission_id = re.findall(r"s\d{9}", line)[0]
        outlier_submission_ids.append(submission_id)

In [7]:
len(outlier_submission_ids)

11780

In [8]:
java8_outlier_filtered = accepted_java8_submissions.query(f"submission_id not in {outlier_submission_ids}")
java8_outlier_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
73,s313061017,p02534,u877463638,1601476824,Java,Java (OpenJDK 1.8.0),java,Accepted,99,26976,321,<NA>
158,s688481096,p02534,u360448976,1601432439,Java,Java (OpenJDK 1.8.0),java,Accepted,73,25272,1133,<NA>
199,s691174419,p02534,u006449883,1601422185,Java,Java (OpenJDK 1.8.0),java,Accepted,103,26984,243,<NA>
202,s097798926,p02534,u045535520,1601419234,Java,Java (OpenJDK 1.8.0),java,Accepted,147,26872,221,<NA>
262,s581534922,p02534,u358794223,1601395231,Java,Java (OpenJDK 1.8.0),java,Accepted,90,26632,253,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
2891,s654050958,p04051,u180407835,1468730469,Java,Java8 (OpenJDK 1.8.0),java,Accepted,752,85016,5505,<NA>
2933,s214463615,p04051,u119714109,1468724953,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1098,163756,4964,<NA>
989,s508270000,p04052,u313111801,1483425521,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4394,173360,2032,<NA>
990,s653967260,p04052,u313111801,1483425132,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4492,180560,1910,<NA>
1056,s670377825,p04052,u119714109,1468737546,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1569,42200,8652,<NA>

## Filter Duplicate Submissions

In [9]:
import os
dupl_clusters_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\Java\clusters"
cluster_files = os.listdir(dupl_clusters_path)
cluster_dict = {}
cluster_no = 0
cluster_dict[cluster_no] = []
for cluster_file in cluster_files:
    cluster_file_path = f"{dupl_clusters_path}\\{cluster_file}"
    with open(cluster_file_path, 'r', encoding='utf-8') as file:
        while (line := file.readline()):
            line = line.rstrip()
            if (line == ''):
                cluster_no += 1
                cluster_dict[cluster_no] = []
            else:
                submission_id = re.findall(r"s\d{9}", line)[0]
                cluster_dict[cluster_no].append(submission_id)

In [11]:
cluster_dict_filtered = {key:val for key, val in cluster_dict.items() if len(val) > 1}

In [12]:
cluster_dict_removed_submissions = {}
cpp14_outlier_filtered_sub_ids = set(java8_outlier_filtered['submission_id'].values)
for key, value in cluster_dict_filtered.items():
    cluster_dict_removed_submissions[key] = []
    for v in value:
        if v in cpp14_outlier_filtered_sub_ids:
            cluster_dict_removed_submissions[key].append(v)

In [13]:
cluster_dict_filtered_1 = {key:val for key, val in cluster_dict_removed_submissions.items() if len(val) > 1}

In [14]:
import random
duplicate_submission_ids = []
for key, value in cluster_dict_filtered_1.items():
    tmp = value.copy()
    tmp.remove(random.choice(tmp))
    duplicate_submission_ids.extend(tmp)

In [15]:
len(duplicate_submission_ids)

35908

In [16]:
java8_dupl_filtered = java8_outlier_filtered.query(f"submission_id not in {duplicate_submission_ids}")
java8_dupl_filtered

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
73,s313061017,p02534,u877463638,1601476824,Java,Java (OpenJDK 1.8.0),java,Accepted,99,26976,321,<NA>
158,s688481096,p02534,u360448976,1601432439,Java,Java (OpenJDK 1.8.0),java,Accepted,73,25272,1133,<NA>
199,s691174419,p02534,u006449883,1601422185,Java,Java (OpenJDK 1.8.0),java,Accepted,103,26984,243,<NA>
202,s097798926,p02534,u045535520,1601419234,Java,Java (OpenJDK 1.8.0),java,Accepted,147,26872,221,<NA>
263,s795355200,p02534,u358794223,1601395185,Java,Java (OpenJDK 1.8.0),java,Accepted,91,26940,253,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
2891,s654050958,p04051,u180407835,1468730469,Java,Java8 (OpenJDK 1.8.0),java,Accepted,752,85016,5505,<NA>
2933,s214463615,p04051,u119714109,1468724953,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1098,163756,4964,<NA>
989,s508270000,p04052,u313111801,1483425521,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4394,173360,2032,<NA>
990,s653967260,p04052,u313111801,1483425132,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4492,180560,1910,<NA>
1056,s670377825,p04052,u119714109,1468737546,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1569,42200,8652,<NA>

## Filter identical problems

In [17]:
java8_dupl_filtered_problem_count = java8_dupl_filtered.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False)
java8_dupl_filtered_problem_count

     problem_id  count
556      p03160    721
557      p03161    674
559      p03163    655
558      p03162    624
159      p02724    535
...         ...    ...
1319     p03984      1
1318     p03982      1
1317     p03981      1
587      p03191      1
394      p02980      1

[1385 rows x 2 columns]

In [20]:
ident_problems_path = r"C:\Users\sebas\Documents\Masterarbeit\Project_CodeNet\derived\duplicates\identical_problem_clusters"
duplicate_problem_ids = []
with open(ident_problems_path, 'r', encoding='utf-8') as file:
    while (line := file.readline().rstrip()):
        cluster = line.split(',')
        cluster_rows = java8_dupl_filtered_problem_count.query(f"problem_id in {cluster}")
        if not cluster_rows.empty:
            largest_cluster_idx = cluster_rows['count'].idxmax()
            largest_cluster_problem_id = cluster_rows.loc[largest_cluster_idx]['problem_id']
            cluster.remove(largest_cluster_problem_id)
            duplicate_problem_ids.extend(cluster)

In [21]:
len(duplicate_problem_ids)

133

In [22]:
java8_final = java8_dupl_filtered.query(f"problem_id not in {duplicate_problem_ids}")
java8_final

,submission_id,problem_id,user_id,date,language,original_language,filename_ext,status,cpu_time,memory,code_size,accuracy
73,s313061017,p02534,u877463638,1601476824,Java,Java (OpenJDK 1.8.0),java,Accepted,99,26976,321,<NA>
158,s688481096,p02534,u360448976,1601432439,Java,Java (OpenJDK 1.8.0),java,Accepted,73,25272,1133,<NA>
199,s691174419,p02534,u006449883,1601422185,Java,Java (OpenJDK 1.8.0),java,Accepted,103,26984,243,<NA>
202,s097798926,p02534,u045535520,1601419234,Java,Java (OpenJDK 1.8.0),java,Accepted,147,26872,221,<NA>
263,s795355200,p02534,u358794223,1601395185,Java,Java (OpenJDK 1.8.0),java,Accepted,91,26940,253,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...
2891,s654050958,p04051,u180407835,1468730469,Java,Java8 (OpenJDK 1.8.0),java,Accepted,752,85016,5505,<NA>
2933,s214463615,p04051,u119714109,1468724953,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1098,163756,4964,<NA>
989,s508270000,p04052,u313111801,1483425521,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4394,173360,2032,<NA>
990,s653967260,p04052,u313111801,1483425132,Java,Java8 (OpenJDK 1.8.0),java,Accepted,4492,180560,1910,<NA>
1056,s670377825,p04052,u119714109,1468737546,Java,Java8 (OpenJDK 1.8.0),java,Accepted,1569,42200,8652,<NA>

In [27]:
java8_final_problem_count = java8_final.groupby(["problem_id"]).size().reset_index(name="count").sort_values("count", ascending=False).query(f"count >= {300}")
java8_final_problem_count

    problem_id  count
553     p03160    721
554     p03161    674
556     p03163    655
555     p03162    624
159     p02724    535
..         ...    ...
728     p03361    304
986     p03695    304
521     p03126    304
509     p03103    303
799     p03449    301

[142 rows x 2 columns]

In [28]:
java8_final.to_csv(r"C:\Users\sebas\Documents\Masterarbeit\datasets\1_clean_datasets\java8.csv")